.link-style {
    color: #dc2626;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
  }
  .link-style:hover {
    background-color: #dc2626; 
    color: #f5f5f5; 
  }
  